<body>
<main>
    <section class="py-2 text-center container">
        <figure class="text-center">
            <blockquote class="blockquote">
                <h1 class="display-1">Pet-Helper</h1>
            </blockquote>
            <figcaption class="blockquote-footer">
                Veterinarian
            </figcaption>
        </figure>
    </section>
    <div class="text-center">
        <img src="../../../../assets/img/doctor.jpg" class="w-25" alt="pet">
    </div>
    <div class="album py-5 bg-light text-center">
        <div class="container">
            <a (click)="login()" class="btn btn-outline-primary">Вход</a>
        </div>
    </div>
</main>
</body>
