<div class="text-center">
    <img src="assets/img/500.jpg" class="w-50" alt="pet">
</div>
<div class="album py-5 bg-light text-center">
    <h2>Упс! Что-то пошло не так на нашем сервере.</h2>
    <h4>Код ошибки 500 указывает на внутреннюю ошибку сервера, которая не позволяет корректно обработать
        ваш запрос в данный момент. Наши технические специалисты уже оповещены и работают над устранением этой проблемы.
    </h4>
    <h4>
        Пожалуйста, перезагрузите страницу через некоторое время.
    </h4>
</div>

