<div class="container-fluid">
  <div class="row">
    <!--    menu-->
    <div class="col-sm-auto bg-light sticky-top">
      <app-menu [itemName]=this.itemName></app-menu>
    </div>
    <!--    /menu-->
    <div class="col-sm p-3 min-vh-100">
      <!--    header-->
      <h2>Ветеринарный врач:&nbsp; {{user.login}}</h2>
      <hr />
      <!--    /header-->
      <!--      content-->
      <h3>Смена пароля</h3>
      <a (click)="openPopup()" class="link-primary">Сменить пароль</a>
      <!--      modal view-->
      <div class="modal bg-light bg-opacity-75" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
        <form>
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Измените свой пароль</h4>
              </div>
              <div class="container">
                @if (this.errorModel !== undefined) {
                <div class="alert alert-danger border-0 my-4" role="alert">
                  <div class="d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16">
                      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                    </svg>
                    <div>
                      Auth error (status: {{this.errorModel.status}}). {{this.errorModel.message}}
                </div>
              </div>
            </div>
                }
              </div>
              <div class="modal-body">
                <div class="card-body">
                  <div class="mb-3">
                    <label for="newPassword" class="form-label"> Текущий пароль: </label>
                    <input [(ngModel)]="oldPassword" class="form-control" id="oldPassword" name="oldPassword"
                           placeholder="example@mail.com" required type="password">
                  </div>
                  <div class="mb-3">
                    <label for="newPassword" class="form-label">Новый пароль: </label>
                    <input [(ngModel)]="newPassword" class="form-control" id="newPassword" name="newPassword"
                           placeholder="example@mail.com" required type="password">
                  </div>
                  <div class="mb-3">
                    <label for="confirmPassword" class="form-label">Подтверждение пароля: </label>
                    <input [(ngModel)]="confirmPassword" type="password" name = "confirmPassword" class="form-control" id="confirmPassword" placeholder="example@mail.com" required>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button class="btn btn-primary" type="button" (click)="editPassword()">Изменить пароль</button>
                <button type="button" class="btn btn-primary" (click)="closePopup()">Отмена</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!--      /modal view-->
    </div>
    <!--    /content-->
  </div>
</div>
